<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div ng-controller="myController">
    <h2>Forms Directives</h2>
    <input type="text" ng-model="someText"> {{someText}}
    <hr>
    <input type="checkbox" ng-model="cbValue" ng-true-value="AWRSOME" ng-false-value="BUMMER"> Checkbox:{{cbValue}}<br>
    <input type="radio" ng-model="cameraName" value="Nikon">Nikon <br>
    <input type="radio" ng-model="cameraName" value="Canon"> Canon<br>
    Selected Camera:{{cameraName}}

    <hr>
    <select ng-model="camera" ng-options="c.model group by c.make for c in cameras">

    </select>

    {{camera|json}}
  </div>


  <script src="https://cdn.bootcss.com/angular.js/1.2.9/angular.min.js?v=1"></script>
  <script src="/js/directive_form.js"></script>



</body>

</html>