<!--
 * @Module: 
 * @FileName: 
 * @Description: 
 * @Author: Liuyi
 * @Date: 2019-09-12 14:33:47
 * @LastEditors: Liuyi
 * @LastEditTime: 2019-09-12 14:51:48
 -->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS $http Service</title>
</head>
<body>
  <div ng-controller="myController">
    <h2>$http Service</h2>
    <input type="button" ng-click="resetDays()" value="Initialize Days" />
  {{status}}
  <h3>Days Available</h3>
  <div ng-repeat="day in days">
    {{day}}
    [<span ng-click="removeDay(day)">remove</span>]
  </div>
  </div>

  <script src="https://cdn.bootcss.com/angular.js/1.2.9/angular.min.js?v=1"></script>
  <script src="/js/service_http.js"></script>
</body>
</html>
